@import "tailwindcss";

body{
     font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@media screen and (max-width : 1150px) {
  .card {
    width: 100%;
    max-width: 60%;
  }
}

@media screen and (max-width : 500px) {
  .card {
    width: 100%;
    max-width: 90%;
  }
}